body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f8;
}

table {
    width: 85%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #007bff;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

button {
    padding: 6px 12px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
